<aside>
  <h2>Current Book: {{#if isCurrent}}{{booksData.title}}
    {{else}}
    Not applicable
    {{/if}}</h2>
</aside>
{{#if loggedIn}}
<div class="bookclub_blog">
  Blog Post:
  <ul class="comment">
    {{#each blogData}}
    <li>{{blogData.user_name}}</li>
    <li>{{blogData.comment}}</li>
    {{/each}}
  </ul>
</div>
{{else}}
<div class="bookclub_list">
  Previous Book Club Reads:
  <ul class="book_list">
    {{#each booksData}}
    <li>{{booksData.title}}</li>
    {{/each}}
  </ul>
</div>
{{/if}}