{{!-- <aside>
  <h2>Current Book: {{#if isCurrent}}{{booksData.title}}
    {{else}}
    Not applicable
    {{/if}}</h2>
</aside> --}}
{{#if logged_in}}
<div class="bookclub_blog">
  Blog Post:
  <ul class="comment">
    {{#each posts as |post|}}
    <li>{{post.user_name}}</li>
    <li>{{post.comment}}</li>
    {{/each}}
  </ul>
</div>
{{else}}
<div class="bookclub_list text-center center col s12">
  <h2>Previous Book Club Reads:</h2>
  <ul class="book_list">
    {{#each books as |book|}}
    <li>{{book.title}}</li>
    {{/each}}
  </ul>
</div>
{{/if}}